@for $x from 1 through 11 {
  $i: $x - 1;

  .mt-#{$i} {
    margin-top: #{$i}em;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}em;
  }
  .ml-#{$i} {
    margin-left: #{$i}em;
  }
  .mr-#{$i} {
    margin-right: #{$i}em;
  }
  .m--#{$i} {
    margin: #{$i}em;
  }
  .mt-#{$i}-i {
    margin-top: #{$i}em !important;
  }
  .mb-#{$i}-i {
    margin-bottom: #{$i}em !important;
  }
  .ml-#{$i}-i {
    margin-left: #{$i}em !important;
  }
  .mr-#{$i}-i {
    margin-right: #{$i}em !important;
  }
  .m--#{$i}-i {
    margin: #{$i}em !important;
  }
}

.mt-half {
  margin-top: 0.5em;
}
.mb-half {
  margin-bottom: 0.5em;
}
.ml-half {
  margin-left: 0.5em;
}
.mr-half {
  margin-right: 0.5em;
}
.m--half {
  margin: 0.5em;
}


.mt-half-i {
  margin-top: 0.5em !important;
}
.mb-half-i {
  margin-bottom: 0.5em !important;
}
.ml-half-i {
  margin-left: 0.5em !important;
}
.mr-half-i {
  margin-right: 0.5em !important;
}
.m--half-i {
  margin: 0.5em !important;
}